<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29868595195-673cfrasan12qamnrfdmei7eg8r3a9ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29868595195-673cfrasan12qamnrfdmei7eg8r3a9ij</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29868595195-r7gs08mhho6chbo8adj785rubsdi44js.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPPdw0AtoIHqiZdzPRXJ8lR-5fAkCldOI</string>
	<key>GCM_SENDER_ID</key>
	<string>29868595195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cirtait.gestmob</string>
	<key>PROJECT_ID</key>
	<string>gestmob-348a8</string>
	<key>STORAGE_BUCKET</key>
	<string>gestmob-348a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29868595195:ios:649baaacb7d458a0461d5e</string>
	<key>DATABASE_URL</key>
	<string>https://gestmob-348a8.firebaseio.com</string>
</dict>
</plist>